.blog-item .card{
    width:18rem !important;
    border: none;
}

.blog-item .card-img-top{
    object-fit: cover;
    width: 100%;
    transition: .5s all ease;
}

.blog-item .card-img-container{
    overflow: hidden;
}

.blog-item .card-img-top:hover{
    transform: scale(1.8) !important;
}

.blog-item .card-body{
    height: 250px !important;
    background-color: #2e2e35;
    color: white;
}

.blog-item .card-title{
    height: 20% !important;
    color: goldenrod;
}

.blog-item .card-link{
    font-weight: 600;
    color: goldenrod;
}