.portfolio .nav-tabs .nav-link.active, .portfolio .nav-tabs .nav-item.show .nav-link {
    color: goldenrod !important;
    background-color: transparent !important;
    border-bottom: 3px solid goldenrod;
}

.portfolio .nav-tabs .nav-link{
    background: transparent !important;
    border: none;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: -3px;
}

.portfolio .nav-tabs{
    border-bottom: 3px solid white;
}

.tab-pane.active .project-item:nth-child(even){
    animation: even-slide 1s ease-in-out;
}

@keyframes even-slide {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
}

.tab-pane.active .project-item:nth-child(odd){
    animation: odd-slide 1s ease-in-out;
}

@keyframes odd-slide {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.tab-pane.active .project-item:nth-child(3n+0){
    animation: test-slide 1s ease-in-out;
}

@keyframes test-slide {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateZ(0); }
}

@media(max-width: 591px){
    .portfolio .nav-tabs{
        border-bottom: none;
    }    
}

.portfolio .contact-item .item-container:hover{
    background: #343a40 !important;
}

.portfolio .contact-item .item-container:active{
    background: #343a40 !important;
}

.portfolio .contact-item .item-container:focus{
    background: #343a40 !important;
}

.portfolio .item-container{
    background: #2e2e35;
}
