.project-item .card img{
    height: 300px;
}

.project-item .card .img-container{
    position: relative;
}

.project-item .card .overlay{
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    overflow: hidden;
    transition: 0.5s ease-in-out !important;
}

.project-item .card:hover .overlay{
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.project-item .list-inline-item{
    border: 1px solid goldenrod;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-inline-item{
    position:relative;
}

.list-inline-item:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: -1em;
  background-color: #333;
  width: 150px;
  display:inline-block;
  color: white;
  padding: .25em .5em;
}