.about .contact-item .item-container:hover{
    background: #343a40 !important;
}

.about .contact-item .item-container:active{
    background: #343a40 !important;
}

.about .contact-item .item-container:focus{
    background: #343a40 !important;
}

.about .item-container{
    background: #2e2e35;
}

