.recent-work-item .card img{
    height: 280px;
}

.recent-work-item .card .img-container{
    position: relative;
}

.recent-work-item .card .overlay{
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    overflow: hidden;
    transition: 0.5s ease-in-out !important;
}

.recent-work-item .card:hover .overlay{
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.recent-work-item .list-inline-item{
    border: 1px solid goldenrod;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px !important;
}