.contact-item .item-container:hover{
    background: #343a40 !important;
}

.contact-item .item-container:active{
    background: #343a40 !important;
}

.contact-item .item-container:focus{
    background: #343a40 !important;
}

.contact-item span{
    font-size: 18px;
}

.contact-item a:hover{
    text-decoration: none;
}

.contact-item a:hover .cstm-underline::after{
    transform: scaleX(1);
    transform-origin: left;
}